@media all and (min-width: 480px) {
    .Books {
        padding: 120px 0;
      }
    .Books form {
        margin: 0 auto;
        max-width: 320px;
    }
    .booksBox {
        height: auto;
        width: 810px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 5%;
        /* background-color: turquoise; */
        text-align: center;
    }
    .buttonAdd {
        background-color: maroon;
        color:whitesmoke;
        margin-right: 10px;
        margin-top: 5%;
    }
    .buttonRemove {
        background-color: maroon;
        color:whitesmoke;
        margin-left: 10px;
        margin-top: 5%;
    }
    .result {
        color: maroon;
        margin-top: 5%;
    }
}