@media all and (min-width: 480px) {
    .Contributor {
        padding: 120px 0;
      }
    .Contributor form {
        margin: 0 auto;
        max-width: 320px;
    }
    .contributorBox {
        height: auto;
        width: 980px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        /* background-color: turquoise; */
        text-align: center;
    }
    .text-css {
        color: maroon;
        font-weight: bold;

    }
}