@media all and (min-width: 480px) {
    .Counter {
        padding: 120px 0;
      }
    .Counter form {
        margin: 0 auto;
        max-width: 320px;
    }
    .counterBox {
        height: auto;
        width: 980px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        /* background-color: turquoise; */
        text-align: center;
    }
    .buttonCounter {
        background-color: maroon;
        color:whitesmoke;
        margin-right: 10px;
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .text-css {
        color: maroon;
        font-weight: bold;
        margin-top: 20px;
    }
}