@media all and (min-width: 480px) {
    .Hooks {
        padding: 120px 0;
      }
    .Hooks form {
        margin: 0 auto;
        max-width: 320px;
    }
    .hooksBox {
        height: auto;
        width: 980px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        margin-bottom: 5%;
        /* background-color: turquoise; */
        text-align: center;
    }
    .buttonHooks {
        background-color: maroon;
        color:whitesmoke;
        margin-right: 10px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .text-css {
        color: maroon;
        font-weight: bold;

        margin-top: 20px;
    }
    .text-css2 {
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
    }
    .text-blue {
        color: blue;
      }
      
      .text-red {
        color: red;
      }
      
      .text-black {
        color: black;
      }
      
      .text-yellow {
        color: yellow;
      }
      
      .text-green {
        color: green;
      }
      .text-purple {
        color: purple;
      }
      .text-pink {
        color: pink;
      }
      .text-white {
        color: whitesmoke;
      }
      .text-magenta {
        color: magenta;
      }
      .text-maroon {
        color: maroon;
      }
      .text-salmon {
        color: salmon;
      }
      .text-gray {
        color: gray;
      }
      .text-turqoise {
        color: turquoise;
      }
      .text-orange {
        color: orange;
      }
      .text-lightblue {
        color: lightblue;
      }
      .text-olivegreen {
        color: darkolivegreen;
      }
}