@media all and (min-width: 480px) {
.Login {
  padding: 120px 0;
}
  
.Login form {
    margin: 0 auto;
    max-width: 320px;
}

.loginSpace {
  margin-bottom: 20px;
}
.buttonLogin {
  margin-top: 8%;
text-align: center;
background-color: maroon;
}
.loginBox {
  /* padding: 50px; */
  width: 50%;
  height: 50%;
  margin-top:8%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  /* background-color: red; */
  display: flex;
  position: absolute;
}
.pictureLogin {
  background-image: url(../images/register-login.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 50%;
  height:100%;
  position: absolute;
  /* background-color: blue; */
}
.invBox {
  flex: 1;
  order: 1;
}
.formLogin {
  position: relative;
  margin-top: 5%;
  flex: 1;
  order: 2;
  /* background-color: yellow; */
}
.loginItems {
  /* background-color: pink ; */
  margin-top: 10%;
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: smaller;
}
.loginFront {
  margin-top: 5%;
}
}