.link-nav {
    color: green;
    font-weight: 900;
}
.myNavbar {
    font-weight: 900;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.myNavbarBrand {
    position:absolute;
    left:0px;
}
.row {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    margin: auto;
  }
  
  .col {
    flex-basis: auto;
    width: 100%;
    padding: 10px ;
  }
  .logostyle {
    width: 120px;
    margin-top: -40px;
    margin-left: 20px;
  }
  .loggingout {
    position:absolute;
    right:20px;
  }
  .verticalspace {
    margin-left: 20px;
    margin-right: 20px;
  }
  .signin {
    position:absolute;
    right:120px;
  }
  .registration {
    position:absolute;
    right:120px;
  }
