@media all and (min-width: 480px) {
    .Profile {
        padding: 120px 0;
      }
    .Profile form {
        margin: 0 auto;
        max-width: 320px;
    }
    .profileBox {
        height: auto;
        width: 980px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        /* background-color: lawngreen; */
    }
    .containProf {
        display: flex;
        width: 980px;
        height: auto;
        /* background-color: cadetblue; */
        border-radius: 5%;
      }
      .profPicBox {
        flex: 1;
        order: 1;
        /* background-color: chartreuse; */
        padding: 5px;
        margin-right: 25px;
      }
      .profPicDetails {
        flex: 2;
        order: 2;
        background-color: whitesmoke;
        padding: 0px;
        border-radius: 5%;
        opacity:0.8;
      }
      .detailCont {
          margin-top: 5%;
          padding: 20px;
          margin-left: 5%;
          margin-right: 5%;
          margin-bottom: 5%;
          background-color: white;
          border-radius: 2%;
      }
      .content {
        width: 100%;
        height: 500px;
      }
      .photoContainer{
          width: 100%;
          height: auto;
          /* background-color: red; */
      }
      .profPics {
          width:100%;
          background-size: 50%;
          border-radius:50%;
          border-color: white;
          background-color: rgb(255, 255, 255);
          padding: 10px;
      }
      .myName {
        color: maroon;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        line-height: 3mm;
        padding-top: 10%;
        height:25%;
        background-color: whitesmoke;
        border-radius: 5%;
        margin-top: 10%;
      }
      .bio {
          font-size: 12px;
          font-weight: bold;
          color: gray;
      }
      .data {
        font-size: 15px;
        font-weight: bold;
        color: maroon;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
}