@media all and (min-width: 480px) {
.Register {
      padding: 120px 0;
}
  
.Register form {
      margin: 0 auto;
      max-width: 320px;
} 
.registerBox {
  height: auto;
  width: 980px;
  margin-top: 3%;
  /* background-color: mediumorchid; */
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;

}
.pictureRegister {
  height: 300px;
  width: 980px;
  text-align: center;
  background-image: url(../images/registernow.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  /* background-color: green; */
}
.formRegister {
  /* margin-top: 5%; */
  height: auto;
  width: 980px;
  text-align: left;
  /* background-color: rgb(3, 3, 3); */
  color:maroon;
  /* display: flex; */
}
.formBox {
  display: flex;
  width: 980px;
  height: auto;
  /* background-color: cadetblue; */
}
.formInput1 {
  flex: 1;
  order: 1;
  /* background-color: chartreuse; */
  padding: 5px;
  margin-right: 25px;
}
.formInput2 {
  flex: 1;
  order: 2;
  /* background-color: palevioletred; */
  padding: 5px;
}
.formAddress {
  flex: 1;
  order: 1;
  /* background-color: navy; */
  padding: 5px;
  margin-right: 25px;
}
.formReason{
  flex: 1;
  order: 2;
  /* background-color:black; */
  padding: 5px;
}
.formCommit {
  width: 980px;
  height: auto;
  /* background-color: maroon; */
  padding: 20px;
  color: maroon;
  font-weight: bolder;
  text-align:justify;
}
.formSubmit {
  width: 980px;
  height: auto;
  /* background-color: yellow; */
  padding: 20px;
  color: black;
  text-align: center;
  margin-bottom: 5%;
}
.buttonSubmit {
  text-align: center;
  background-color: maroon;
}
.verify{
  height: auto;
  width: 980px;
  position: relative;
  /* background-color: mediumorchid; */
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.messageSent {
  height: 250px;
  width: 980px;
  margin-top: 15%;
  text-align: center;
  background-image: url(../images/messagesent.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  /* background-color: green; */
}
.verifyMe {
  width: 980px;
  height: auto;
  /* background-color: maroon; */
  padding: 20px;
  color: maroon;
  font-weight: bolder;
  /* background-color: orchid; */
  font-size: 25px;
}
}
